/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2f2f2f;
  background: #fff;
}

/* button {
  cursor: pointer;
} */
.container {
  margin-top: 24px;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px; */
  background-image: url('../images/background/mobile/icon-light-background-main-page.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* width: 100%;
  height: 100vh; Например, чтобы фон занимал весь экран */
}

.record {
  /* margin-bottom: 40px; */
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  overflow: hidden; /* Додайте цю властивість */
}

.main-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14; /* 114.286% */
  margin-bottom: 16px;
}

.title {
  /* font-size: 24px; */
  font-weight: 400;
  line-height: 1.25; /* 125% */
  margin-bottom: 24px;
}

.card {
  margin-bottom: 24px;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  line-height: 1.11; /* 111.111% */
  margin-bottom: 12px;
}

.card-record-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.card-record-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.card-record-item-icon {
  width: 32px;
  height: 32px;
  fill: #407bff;
  flex-shrink: 0;
}

.card-record-item-text {
  font-size: 16px;
  line-height: 1.25; /* 125% */
  width: 176px; /* Фіксована ширина для тексту */
  white-space: nowrap;
}

.button {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  color: #fff;
  display: block;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  background: #407bff;
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  cursor: pointer;
  width: 280px;
  height: 36px;
  max-width: 100%; /* Додайте цю властивість */
  box-sizing: border-box; /* Щоб врахувати padding у ширині */
  /* flex-shrink: 0; */
}

.button:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.button:focus {
  box-shadow: none;
}

.why {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.card-why {
  display: inline-block; /* Додайте цю властивість */
  padding: 24px 16px;
  border-radius: 10px;
  background: #ecf2ff;
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.3);
  max-width: 100%;
}

.card-why-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.card-why-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.card-item-svg {
  width: 8px;
  height: 8px;
  fill: #407bff;
  flex-shrink: 0;
}

.card-why-item-text {
  font-size: 16px;
  line-height: 1.25; /* 125% */
  width: auto; /* Змініть з 232px на auto */
  max-width: 100%; /* Додайте це, щоб текст не виходив за межі */
  overflow-wrap: break-word; /* Додайте для автоматичного переносу слів */
  white-space: normal; /* Додайте, якщо хочете, щоб текст міг переноситися */
  flex-shrink: 0;
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    background-image: url('../images/background/tablet/icon-light-background-main-page.svg');
  }

  .record {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 60px;
  }

  .card-record-list {
    flex-direction: row;
    /* flex-wrap: wrap; */
  }

  .card-record-item {
    width: 100%;
  }

  .card-record-item-icon {
    width: 40px;
    height: 40px;
  }

  .button {
    font-size: 18px;
    line-height: 1.33; /* 133.333% */
    padding: 10px 30px;
    width: 336px;
    height: 44px;
    /* flex-shrink: 0; */
  }

  .why {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 50px;
  }
  .card-why {
    padding: 32px 24px;
  }

  .card-why-item-text {
    width: 430px;
    flex-shrink: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    display: flex; /* Додаємо Flexbox */
    justify-content: center; /* Центруємо елементи по горизонталі */
    align-items: center;
    gap: 81px; /* Додаємо відстань між елементами */
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 81px;
    background-image: url('../images/background/desktop/icon-light-background-main-page.svg'),
      url('../images/background/desktop/icon-light-background-elem-main-page.svg');
  }

  .record {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .main-title {
    font-size: 36px;
    line-height: 1.16; /* 116.667% */
  }

  .title {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.23; /* 123.077% */
  }

  .card-record-list {
    flex-direction: column;
  }

  .button {
    width: 384px;
    /* flex-shrink: 0; */
  }

  .why {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 50px;
  }

  /* .card-record-item-text {
    font-size: 16px;
    line-height: 1.25; 
    width: 176px; 
    white-space: nowrap;
  } */
}
